services:
  backend:
    build: ./backend
    ports:
      - "8088:8088"
    volumes:
      - ./backend/uploads:/app/uploads
      - ./backend/processed:/app/processed

  frontend:
    build: ./app
    ports:
      - "8033:8033"
    depends_on:
      - backend
